table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid black;
  width: 125px;
  height: 125px;
  text-align: center;
  font-size: 8em;
  box-sizing:border-box;
}

td:hover{
  cursor:pointer;
}

h1 {
  text-align: center;
}

.startOver {
  text-align: center;
}

#reset {
  padding: 10px;
  width: 200px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
}

#reset:hover{
  background: lemonchiffon;
  border-color: white;
}